@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  font-size: 14px;
  background: url("../public/glass-bg.png") no-repeat center center fixed;
}
.active-nav {
  color: #7263f3;
}

.dark body {
  color: #f9f9f9;
  background: url("../public/bg--blur-purple.png") no-repeat center center fixed;
}

.auth-page {
  height: 100vh;
  background: url("/glass-bg.png") no-repeat center center fixed;
}

@layer base {
  .gradient-text {
    @apply inline-block dark:bg-clip-text dark:text-transparent bg-gradient-to-r from-[#7263f3] to-[#f56693];
  }
}

.message-body {
  height: calc(100% - 152px);
  overflow-y: auto;
  resize: none;
  transition: all 0.3s ease-in-out;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #09090a;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #5c5c7b;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}

.epr-body::-webkit-scrollbar {
  width: 5px;
}

.epr-body::-webkit-scrollbar-thumb {
  background-color: #7263f3;
  border-radius: 6px;
}

.epr-body::-webkit-scrollbar-track {
  border-radius: 6px;
}
